<div class="max-w-max mx-auto">
  <h2 class="text-3xl font-bold mb-4">Log in</h2>
  <p class="text-gray-600 text-sm mb-4">
    Enter your credentials to log in to your account.<br>
    Please use the email and password you registered with.
  </p>

  <div class="bg-white border border-[#E2E4E5] rounded-md shadow-md p-8">
    <% if flash[:alert] %>
      <div class="alert alert-danger text-red-500 mb-4">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "space-y-4") do |f| %>
      <div class="grid grid-cols-2 gap-4">

        <!-- First Column: Email -->
        <div>
          <div class="space-y-2 mb-4">
            <div class="input-wrapper">
              <%= f.label :email, class: "text-gray-700 font-medium" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-custom" %>
            </div>
            <% if f.object.errors[:email].any? %>
              <div class="text-red-500 text-sm mt-1">
                <%= f.object.errors[:email].join(", ") %>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Second Column: Password -->
        <div>
          <div class="space-y-2 mb-4" data-controller="password-visibility">
            <div class="input-wrapper relative">
              <%= f.label :password, class: "text-gray-700 font-medium" %>
              <%= f.password_field :password, autocomplete: "current-password", class: "input-custom" %>

              <!-- Eye icon for toggling password visibility -->
              <span
                data-action="click->password-visibility#togglePasswordVisibility"
                class="fas fa-eye absolute top-10 right-2 text-gray-400 cursor-pointer"
                data-password-visibility-target="icon"
              ></span>
            </div>
            <% if f.object.errors[:password].any? %>
              <div class="text-red-500 text-sm mt-1">
                <%= f.object.errors[:password].join(", ") %>
              </div>
            <% end %>
          </div>
        </div>

      </div>

      <!-- Remember Me Checkbox -->
      <% if devise_mapping.rememberable? %>
        <div class="space-y-2 mb-4 flex items-center">
          <%= f.check_box :remember_me, class: "mr-2" %>
          <%= f.label :remember_me, class: "text-gray-700 font-medium" %>
        </div>
      <% end %>

      <!-- Submit Button -->
      <div class="mb-4">
        <%= f.submit "Log in", class: "px-8 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
