<div class="max-w-max mx-auto">
  <h2 class="text-3xl font-bold mb-4">Create New Category</h2>

  <div class="bg-white border border-[#E2E4E5] rounded-md shadow-md p-8">
    <%= form_with(model: @category, url: admin_categories_path, local: true, class: "space-y-4") do |f| %>
      <div class="space-y-2">
        <div class="input-wrapper">
          <%= f.label :name, "Category Name", class: "text-gray-700 font-medium" %>
          <%= f.text_field :name, class: "input-custom w-full p-3 border border-gray-300 rounded-md focus:ring-blue-500 focus:outline-none" %>
        </div>
        <% if @category.errors.any? %>
          <div class="text-red-500 text-sm mt-1">
            <ul class="list-disc list-inside">
              <% @category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div class="mb-4">
        <%= f.submit "Create Category", class: "px-8 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors mr-4" %>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-6">
    <%= link_to "Back to Categories", admin_categories_path, class: "inline-block py-2 px-4 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 focus:ring-2 focus:ring-gray-200 focus:outline-none transition duration-150" %>
  </div>
</div>
